/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 may 2023, 19:34:17
    Author     : victo
*/



*{
    -fx-primary : #2A2E37;   
    -fx-secondary : #E2FF8D;    
    -fx-primarytext : #B2B2B2;  
    -fx-red: #FF5E5E;
    -fx-verdeclaro:#E7FFA3;
    
}



.fondopantalla{
    -fx-background-color: -fx-primary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-prompt-text-fill: #575757;
}

#showpasswordTextField{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-prompt-text-fill: #575757;
}

.tituloverde{
    -fx-text-fill: -fx-secondary ;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #000000, 3, 0, 0, 1),
                dropshadow(gaussian, #FFFFFF, 3, 0, 0, -1);
}

.tituloblanco{
    -fx-font-family: "Arial";
    -fx-font-size: 50px;
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 1, 1, 0, 0);
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

/*Login especifico*/

.inicioLabel{    
    -fx-text-fill: white;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.check-box{
    -fx-text-fill: -fx-primarytext;
}

.botonEspecial{
    -fx-text-fill: black;
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}
.botonEspecial:hover, .botonEspecial:focused{
    -fx-border-color: -fx-verdeclaro;
    -fx-background-color: -fx-verdeclaro;
    -fx-text-fill: -fx-primary;
}

.combo-box{
    -jfx-focus-color: -fx-secondary;
}

.dialog-pane {
    -fx-background-color: #F3FFCE; /* Color de fondo */
}

.botonRojo{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
    -fx-background-color: -fx-red;
    -fx-border-color: -fx-red;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.botonRojo:hover, .botonRojo:focused{
    -fx-border-color: #FF8484;
    -fx-background-color: #FF8484;
    -fx-text-fill: white;
}

.titulopeqverde{
    -fx-text-fill: -fx-secondary ;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #000000, 3, 0, 0, 1),
                dropshadow(gaussian, #FFFFFF, 3, 0, 0, -1);
}

.titulopeqblanco{
    -fx-font-family: "Arial";
    -fx-font-size: 26px;
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 1, 1, 0, 0);
}

